<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de vendas</title>
    <link rel="stylesheet" href="/static/StyleLogin.css">
</head>
<body>
    <div class="main-login">
        <div class="left-frase">
            <h1>O melhor sistema pra controlar <br> suas vendas e seu estoque</h1>
            <img src="{{ url_for('static', filename='stock.svg')}}" alt="stock animation" class="left-imagem-login">
        </div>
        <div class="right-card">
            <div class="card-login">
                <h1>LOGIN</h1>
                <div class="campo-texto">
                    <label for="usuario">Usuário</label>
                    <input type="text" name="usuario" placeholder="Usuário">
                </div>
                <div class="campo-texto">
                    <label for="senha">Senha</label>
                    <input type="password" name="senha" placeholder="Senha">
                </div>
                <form action="http://127.0.0.1:5000/paginainicial">
                    <input type="submit" value="Login">
                </form>
            </div>
        </div>
    </div>
</body>
</html>