{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://fontawesome.com/v4/icons/">
    <title>Inicio</title>
    <link rel="stylesheet" href="{% static 'system/css/StyleInicio.css'%}">
    <link rel="stylesheet" href="{% static 'system/css/StyleVendas.css'%}">
    <link rel="stylesheet" href="{% static 'system/css/StyleProdutos.css'%}">
    <link rel="stylesheet" href="{% static 'system/css/StyleClientes.css'%}">
</head>