{% extends 'global/base.html' %}
{% block title %}Clientes |{% endblock title %}
{% block content %}
    <main class="paginaIn-clientes">
        <h1>Clientes</h1>
        <div class="todos-clientes">
            <div class="nomeTodosClientes">
                <div class="h2NomeClientes">
                    <h2>Todos os clientes</h2>
                </div>
            </div>
            <div class="infoClientes">
                <span class="iconClientes">
                    <i class="bi bi-emoji-laughing"></i></i>
                </span>
                <div class="mensagemClie">
                    <h2>Ainda não possui nenhum cliente cadastrado !</h2>
                </div>
                <div class="divbuttonTodosClie">
                    <span class="iconButtonClie">
                        <i class="bi bi-plus"></i>
                    </span>
                    <button class="buttonTodosProd"><span class="spanButtonClie">Adicionar cliente</span></button>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}

    