{% extends 'global/base.html' %}

{% include 'system/partials/links.html' %} 
{% block content %}
    <main class="paginaIn-vendas">
        <h1>Controle de Vendas</h1>
        {% if tem_vendas  %}
        <div class="todas-vendas">
            <div class="nomeTodasVendas">
                <h2>Todas as vendas</h2>
            </div>
            <div class="infoVendas">
                <div class="titulosVendas">
                    <div class="spacetitle1">
                        <h2 class="title1">#</h2>
                    </div>
                    <div class="spacetitle2">
                        <h2 class="title2">Situação</h2>
                    </div>
                    <div class="spacetitle3">
                        <h2 class="title3">Data</h2>
                    </div>
                    <div class="spacetitle4">
                        <h2 class="title4">Informações</h2>
                    </div>
                    <div class="spacetitle5">
                        <h2 class="title5">Preços</h2>
                    </div>
                </div>
                {% for i in venda  %}
                <div class="espaçoInfo">
                    <div class="varInfo1">
                        <h2>{{i.Cod}}</h2>
                    </div>
                    <div class="varInfo2">
                        <h2>{{i.Situacao}}</h2>
                    </div>
                    <div class="varInfo3">
                        <h2>{{i.Data}}</h2>
                    </div>
                    <div class="varInfo4">
                        <h2>Cliente: {{i.Nome_cliente}}<br>{{i.Sobrenome_cliente}}</h2>
                    </div>
                    <div class="varInfo5">
                        <h2>R$ {{i.Preco_da_venda}}</h2>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% else %}
        <div class="not-todas-vendas">
            <div class="infoVen">
                <span class="iconVen">
                    <i class="bi bi-emoji-laughing"></i></i>
                </span>
                <div class="mensagemVen">
                    <h2>Ainda não possui nenhuma venda no sistema !</h2>
                </div>
                <div class="divbuttonTodosVen">
                    <span class="iconButtonVen">
                        <i class="bi bi-plus"></i>
                    </span>
                    <button class="buttonTodosVen"><span class="spanButtonVen">Fazer nova venda</span></button>
                </div>
            </div>
        </div>
        {% endif %}
    </main>
{% endblock content %}