@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}
body{
    height: 100vh;
}
nav.menu-lateral{
    width: 80px;
    height: 100%;
    background-color: #1a3939;
    padding: 40px 0px 40px 1%;
    box-shadow: 4px 0px 0px #c9a672;
    position: fixed;
    top: 0;
    left: 0;
    transition: .3s;
    overflow: hidden;
}
nav.menu-lateral:hover{
    width: 250px;
}
.button-expandir{
    width: 100%;
    padding-left: 12px;
    
}
.button-expandir > i{
    color: #fff;
    font-size: 28px;
    cursor: pointer;
}
ul{
    height: 100%;
    list-style-type: none;
    margin-left: 10px;
}
ul li.item-menu{
    transition: .2s;
}
ul li.item-menu:hover{
    background: #c9a672;
}
ul li.item-menu > a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4px;
    display: flex;
    margin-bottom: 20px;
}
ul li.item-menu > a .txt-link{
    margin-left: 35px;
    line-height: 31px;
}
ul li.item-menu > a .icon > i{
    font-size: 25px;
}
.resumo-principal{
    display: flex;
    flex-direction: row;
    background-color: #fff;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    margin-left: 200px;
    
}
.card{
    display: flex;
    flex-direction: row;
    background-color: #1a3939;
    padding: 50px 120px;
    border: none;
    border-radius: 10px;
}
