@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}
.tela{
    position: fixed;
}
#conteudo{
    height: 100vh;
    width: 91vw;
    margin-left: 9.7vw;
}
.paginaIn-clientes{
    display: flex;
    width: 90vw;
    height: 95vh;
    margin: 30px 40px 40px 2%;
    flex-direction: column;
}
.paginaIn-clientes > h1{
    margin-bottom: 10px;
    color: #565555fd;
}
.todos-clientes{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 1240px;
    height: 44%;
    background-color: #f4efef;
    box-shadow: 9px 9px 26px  #bebdbdab;
    border-radius: 9px;
    border: none;
}
.nomeTodosClientes{
    display: flex;
    justify-content: left;
    flex-direction: row;
    width: 100%;
    height: 11vh;
    padding: 18px;
    border-bottom: 1.5px solid #cdd2df8e;
    background-color: #e4e5e67d
}
.h2NomeClientes{
    display: flex;
    align-items: center;
    height: 100%;
    width: 200px;
}
.h2NomeClientes > h2{
    font-size: 18px;
    color: #5e5ec4ce;
}
.infoClientes{
    display: flex;
    width: 100%;
    height: 85%;
    padding: 24px 19px 14px 19px;
    flex-direction: column;
}
.iconClientes{
    display: flex;
    justify-content: center;
    height: 80px;
    align-items: center;
}

.iconClientes > i{
    font-size: 60px;
    color: #8f8f8fd9;
}
.mensagemClie{
    display: flex;
    justify-content: center;
    height: 40px;
    align-items: center;
}
.mensagemClie > h2{
    font-size: 17px;
    color: #5c5c5ce8;
}
.divbuttonTodosClie{
    display: flex;
    justify-content: center;
    height: 40px;
    align-items: center;
}
.iconButtonClie{
    display: flex;
    height: 73%;
    width: 47px;
    background-color: #c39f69c0;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    cursor: pointer;
}
.iconButtonClie > i{
    font-size: 27px;
    color: #fff;
    cursor: pointer;
}
.buttonTodosProd{
    width: 150px;
    height: 73%;
    background-color: #d1ac73c7;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}
.spanButtonClie{
    color: #fff;
    font-size: 15px;
}