<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <title>Document</title>
    <link rel="stylesheet" href="/static/StyleProdutos.css">
</head>
<body>
    <main class="paginaIn-produtos">
        <h1>Produtos</h1>
        <div class="todos-produtos">
            <div class="nomeTodosProdutos">
                <div class="tituloTodosProd">
                    <h2>Todos produtos</h2>
                </div>
                <div class="divbuttonTodosProd">
                    <span class="iconButton">
                        <i class="bi bi-plus"></i>
                    </span>
                    <button class="buttonTodosProd"><span class="spanButton">Adicionar produto</span></button>
                </div>
            </div>
            <div class="infoProdutos">
                <div class="dadoseInput">
                    <div class="dadosProdutos">
                        <h2><span class="underlineh2">Total de unidades em estoque:</span><span class="cor"> 204</span></h2>
                        <h2><span class="underlineh2">Valor total em estoque:</span><span class="cor"> R$ 6.005,19</span></h2>
                        <h2><span class="underlineh2">Valor total de revenda:</span><span class="cor"> R$ 10.100.41</span></h2>
                    </div>
                    <div class="labeleInput">
                        <label for="buscar" class="labelBus">Buscar:</label>
                        <input type="text" class="inputBus">
                    </div>
                </div>
                <div class="titulosProdutos">
                    <div class="espaçotitle1">
                        <h2 class="titulo1">#</h2>
                        <span class="iconseta">
                            <i class="bi bi-arrow-down-up"></i>
                        </span>
                    </div>
                    <div class="espaçotitle2">
                        <h2 class="titulo2">SKU</h2>
                        <span class="iconseta">
                            <i class="bi bi-arrow-down-up"></i>
                        </span>
                    </div>
                    <div class="espaçotitle3">
                        <h2 class="titulo3">Nome</h2>
                        <span class="iconseta">
                            <i class="bi bi-arrow-down-up"></i>
                        </span>
                    </div>
                    <div class="espaçotitle4">
                        <h2 class="titulo4">Vendas</h2>
                        <span class="iconseta">
                            <i class="bi bi-arrow-down-up"></i>
                        </span>
                    </div>
                    <div class="espaçotitle5">
                        <h2 class="titulo5">Estoque<br>total</h2>
                        <span class="iconseta">
                            <i class="bi bi-arrow-down-up"></i>
                        </span>
                    </div>
                    <div class="espaçotitle6">
                        <h2 class="titulo6">Custo total</h2>
                        <span class="iconseta">
                            <i class="bi bi-arrow-down-up"></i>
                        </span>
                    </div>
                    <div class="espaçotitle7">
                        <h2 class="titulo7">Revenda total</h2>
                        <span class="iconseta">
                            <i class="bi bi-arrow-down-up"></i>
                        </span>
                    </div>
                </div>
                <div class="espaçoProd">
                    <div class="varProd1">
                        <h2>234</h2>
                    </div>
                    <div class="varProd2">
                        <h2>Camiseta0978</h2>
                    </div>
                    <div class="varProd3">
                        <h2>Camisa <br> Dry Fit Nike</h2>
                    </div>
                    <div class="varProd4">
                        <h2>76</h2>
                    </div>
                    <div class="varProd5">
                        <h2>72</h2>
                    </div>
                    <div class="varProd6">
                        <h2>R$ 10.200,46</h2>
                    </div>
                    <div class="varProd7">
                        <h2>R$ 22.200,46</h2>
                    </div>
                </div>
                <div class="espaçoProd">
                    <div class="varProd1">
                        <h2>160</h2>
                    </div>
                    <div class="varProd2">
                        <h2>Cuecasomellos8382</h2>
                    </div>
                    <div class="varProd3">
                        <h2>Cueca<br>Elastano Somellos</h2>
                    </div>
                    <div class="varProd4">
                        <h2>140</h2>
                    </div>
                    <div class="varProd5">
                        <h2>110</h2>
                    </div>
                    <div class="varProd6">
                        <h2>R$ 5.200,46</h2>
                    </div>
                    <div class="varProd7">
                        <h2>R$ 10.200,46</h2>
                    </div>
                </div>
        </div>
    </main>
    
</body>
</html>