<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/StyleVendas.css">
</head>
<body>
    <main class="paginaIn-vendas">
        <h1>Controle de Vendas</h1>
        <div class="todas-vendas">
            <div class="nomeTodasVendas">
                <h2>Todas as vendas</h2>
            </div>
            <div class="infoVendas">
                <div class="titulosVendas">
                    <div class="spacetitle1">
                        <h2 class="title1">#</h2>
                    </div>
                    <div class="spacetitle2">
                        <h2 class="title2">Situação</h2>
                    </div>
                    <div class="spacetitle3">
                        <h2 class="title3">Data</h2>
                    </div>
                    <div class="spacetitle4">
                        <h2 class="title4">Informações</h2>
                    </div>
                    <div class="spacetitle5">
                        <h2 class="title5">Preços</h2>
                    </div>
                </div>
                <div class="espaçoInfo">
                    <div class="varInfo1">
                        <h2>000</h2>
                    </div>
                    <div class="varInfo2">
                        <h2>#####</h2>
                    </div>
                    <div class="varInfo3">
                        <h2>**/**/****</h2>
                    </div>
                    <div class="varInfo4">
                        <h2>Cliente: #####</h2>
                    </div>
                    <div class="varInfo5">
                        <h2>***,**</h2>
                    </div>
                </div>
                <div class="espaçoInfo">
                    <div class="varInfo1">
                        <h2>000</h2>
                    </div>
                    <div class="varInfo2">
                        <h2>#####</h2>
                    </div>
                    <div class="varInfo3">
                        <h2>**/**/****</h2>
                    </div>
                    <div class="varInfo4">
                        <h2>Cliente: #####</h2>
                    </div>
                    <div class="varInfo5">
                        <h2>***,**</h2>
                    </div>
                </div>
                <div class="espaçoInfo">
                    <div class="varInfo1">
                        <h2>000</h2>
                    </div>
                    <div class="varInfo2">
                        <h2>#####</h2>
                    </div>
                    <div class="varInfo3">
                        <h2>**/**/****</h2>
                    </div>
                    <div class="varInfo4">
                        <h2>Cliente: #####</h2>
                    </div>
                    <div class="varInfo5">
                        <h2>***,**</h2>
                    </div>
                </div>
            </div>
        </div>

    </main>
</body>
</html>